body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}
img {
	border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
	width:  150px;       /* ※縦横を同値に */
	height: 150px;       /* ※縦横を同値に */
}
#container {
  width: 280px;
  margin: 30px auto;
}
.container {
  display: flex;
}
.main {
  width: 30%;
}
.side {
  text-align: center;
  width: 70%;
}
form {
  text-align: center;
}

form#logout {
  text-align: right;
  font-size: 12px;
  margin-bottom: 15px;
}

input[type=text],
input[type=password] {
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}
label {
  width:100px;
  height:30px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px black;
  border-radius: 3px;
  transition: .4s;
}
label input {
     display: none;
}

.btn-flat-border {
  width:100px;
  height:30px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px black;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: black;
  color: white;

.btn:hover {
  opacity: 0.8;
}

.fs12 {
  font-size: 12px;
  font-weight: normal;
}

.err {
  color: #ff3d00;
  font-weight: bold;
  font-size: 13px;
}

h1 {
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

ul > li {
  padding: 3px 0;
}
